@model List<HotelVanKeus.Models.Room>

<h3>List of rooms available for renovation:</h3>

<hr class="my-2" />
<form >
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Room Id</th>
                    <th scope="col">Room number</th>
                    <th scope="col">Room Status</th>
                    <th scope="col">Toggle Renovation/Available</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var room in Model)
                {
                    <tr class="table-primary">
                        <td>@room.Id</td>
                        <td>@room.RoomNumber</td>
                        <td>@room.Status</td>
                        <td>
                            <button class="btn-sm btn-info"
                                    asp-action="ChangeRenovationStatus"
                                    asp-controller="Reservation"
                                    asp-route-id="@room.Id">
                                Block for renovation
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</form>

    @*Modal*@

    @*@section scripts{

        <script type="text/javascript">

            $(document).ready(function () {
                $('#checkAvailabilityBtn').click(function () {
                    
                    $("#addDatesModal").modal('show');
                });
            });

        </script>
    }

    <div class="modal fade" id="addDatesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">When the renovation is planned?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Select the planned start and end dates of the renovation job.
                    <hr class="my-4" />
                    <div class="form-group">
                        <label class="col-form-label">Check in</label>
                        <input type="date" class="form-control" asp-for="Reservation.Checkin"/>
                        <span class="text-warning"></span>
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Check out</label>
                        <input type="date" class="form-control" asp-for="Reservation.Checkout"/>
                        <span class="text-warning"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>*@


